tr,
td {
    text-align: center;
    align-items: center;
}
.btn {
    font-size: 1.3rem !important;
    color: #333 !important;
    img {
        width: 20px;
        height: 20px;
        margin-right: 10px;
    }

    &:hover {
        color: #333;
    }
}
