@use './../../../scss/' as *;
.wrapper {
    position: fixed;
    bottom: 0;
    left: $sidebar-width;
    width: 100%;
    text-align: center;
    padding: 15px 180px 15px 0;
    background-color: #bfc3e5;
}
