$background-color: #ffffff;
$primary-color: #2e41ef;
$text-color: #333;

//color
$white: #fff;
$black: #000;

$box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

$header-height: 8rem;
$default-layout-width: 1180px;
$sidebar-width: 245px;

//responsive
$mobile-width: 600px;
$tablet-width: 1024px;
$laptop-width: 1400px;

// font
$font-family-ProximaNova: 'ProximaNova', sans-serif;
$font-family-SofiaPro: 'SofiaPro', sans-serif;
